/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

section {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%;
}

header, main, footer {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    width: 100%;
}

main {
    -webkit-flex: auto;
}

#connected > main {
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    -webkit-flex-direction: column;
    padding: 20px;
}

header, footer {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.line-spin-fade-loader > div {
  background-color: #1e1e1e;
}

button {
    background-color: #1e1e1e;
    color: #fff;
}

button:active {
    background-color: #3e3e3e;
}

button:disabled {
    background-color: #e3e3e3;
}

.action {
    height: 75px;
    margin-bottom: 20px;
    font-size: 25px;
    width: 100%;
}

.action.program-mode {
    background-color: #1ee3e3;
}

.program {
    width: 75px;
    height: 30px;
}
